@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
  font-family: var(--font-geist-sans);
  font-weight: 700;
  @apply text-slate-700 text-balance text-4xl xl:text-[3.7rem] xl:leading-[3.5rem];
}

h2 {
  font-family: var(--font-geist-sans);
  font-weight: 700;
  @apply text-balance text-3xl xl:text-[2.5rem] xl:leading-[3.5rem];
}

h3 {
  font-family: var(--font-geist-sans);
  font-weight: 700;
  @apply text-balance text-2xl xl:text-[2.2rem] xl:leading-[2.2rem];
}

h4 {
  font-family: var(--font-geist-sans);
  font-weight: 700;
  @apply text-balance text-xl xl:text-[1.4rem] xl:leading-[1.8rem];
}

p {
  font-family: var(--font-geist-sans);
  font-weight: 450;
  @apply max-w-3xl text-lg text-slate-600 leading-snug;
}

section {
  margin: 50px 0;
}